---
import Layout from '../layouts/Layout.astro';
import ContactFormComponent from '../components/ContactForm.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout>
  <Navbar />
  <main>
    <ContactFormComponent />
  </main>
</Layout>