---
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import Ticker from "../components/Ticker.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Contact from "../components/Contact.astro";

---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>MyShus</title>
	</head>
	<body>
		<Navbar />
		<Header />
		<Ticker />
		<About />

		<Services />
		<Contact />
	</body>
</html>
