---

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyShus</title>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Google tag (gtag.js) -->

    <script async is:inline src="https://www.googletagmanager.com/gtag/js?id=G-JESF85NFZ1"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-JESF85NFZ1');
    </script>
  </head>
</html>
<body>
  <slot />
</body>
